<ion-view hide-back-button="true" view-title="Acesse">
    <ion-content>
      <div class="padding">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="john@suhr.com" ng-model="vm.access.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Senha</span>
            <input type="password" ng-model="vm.access.password" placeholder="Senha">
          </label>
          <label class="item item-input item-floating-label" ng-if="vm.isRegister">
            <span class="input-label">Confirmar Senha</span>
            <input type="password"  ng-model="vm.access.confirmPassword" placeholder="Confirmar Senha">
          </label>
        <button class="button button-block button-assertive" ng-click="vm.signIn()" ng-if="!vm.isRegister">
          Entrar
        </button>
        <button class="button button-block button-assertive" ng-click="vm.register()" ng-if="vm.isRegister">
          Cadastrar
        </button>
        <div class="text-center padding">
          <a ng-href="" ng-click="vm.isRegister = true" ng-if="!vm.isRegister">ou Cadastrar</a>
        </div>
      </div>
    </ion-content>
</ion-view>
