<ion-view view-title="{{vm.title}}">
  <ion-content>
    <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        <h2>Fale com a ouvidoria</h2>
        <p>estamos anciosos para te ouvir</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{vm.imgURI}}" ng-if="vm.imgURI">
        <div>
          <button class="button icon ion-camera button-full" ng-click="vm.takePicture()"></button>
        </div>
        <p>
          <label class="item item-input item-floating-label">
            <span class="input-label">Descrição</span>
            <textarea type="text" placeholder="Descrição" ng-model="vm.descricao"></textarea>
          </label>
        </p>

      </div>
      <div class="item footer">
        <button class="icon icon-right ion-android-send button button-assertive button-full" ng-click="vm.send()">Enviar</button>
      </div>

    </div>
  </ion-content>
</ion-view>
